.article-cate-custom .article-menu-custom li {margin-left:24px !important;font-size:0.9em;}
.article-cate-custom .article-menu-custom li a {padding:0px !important;}
#s5_customsearch { float:right;margin-top: 8px !important;}
.pager.pagenav li a { width:10%;background-color:#0099D9;}

.pager.pagenav li a:hover { background-color:#204A63 !important; }
#opportunities_img {
    opacity:0;
}
p.readmore a, p.readmore { margin-bottom:20px;}
#s5_bottom_menu_wrap { width:30%;padding-left : 3%;}
.footer-menu-custom li {
width:31%;
}
/*.footer-menu-custom li a:before { content : "\203A";} */

#s5_bottom_introtext {
    float: left;
    width: 30%;
	padding-right:85px;
}
#s5_footer { float:none !important;text-align:center;}
@media screen and (max-width:579px){ 
	#s5_footer_area_inner .footer-menu-custom li {
	width:40%;float:left !important	
	}
	#s5_bottom_menu_wrap { width:100%;}
	#s5_bottom_introtext { width:90%;margin-left:5%;margin-right:5%;padding-right:0px;margin-top:15px;margin-bottom:15px;}
	#s5_footer_area_inner > div {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}
#s5_bottom_contactus { float:none !important;clear:both;}
.pager.pagenav li a { width:26%;}
}
.s5_logo.s5_logo_image {display:none;}
/*.customresposive-tbl td:first-child

{
	background-color:red;
	min-width:20px !important;
}
*/
@media screen and (max-width:768px){ 
	#s5_footer_area_inner .footer-menu-custom li {
	width:40%;float:left !important	
	}
	#s5_bottom_menu_wrap { width:100%;}
	#s5_bottom_introtext { width:90%;margin-left:5%;margin-right:5%;padding-right:0px;margin-top:15px;margin-bottom:15px;}
	#s5_footer_area_inner > div {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}
#s5_bottom_contactus { float:none !important;clear:both;}
}

.cat-children > h3 {
    font-size: 2.4em;
    padding-bottom: 20px;
}

#s5_socialicons{
padding-top:15px !important;
}