/* ANY CSS FOR ALL WIDTHS GOES HERE
----------------------------------------------------------- */

/* ALL WIDTHS UNDER 970PX
----------------------------------------------------------- */

@media screen and (max-width: 970px){

	/* DEFAULT
	----------------- */

	.s5_wrap {
	width:100% !important;
	}
	
	.s5_is_display, .s5_is_slide {
	position:relative !important;
	}
	
	.s5_is_slide {
	height:auto !important;
	}
	
	#fontControls {
	display:none;
	}
	
	/* CUSTOM
	----------------- */
	
	#s5_custom_6 {
		display:none;}
	
}


/* TABLET PORTRAIT MODE CSS
----------------------------------------------------------- */

@media screen and (min-width:580px) and (max-width: 970px){

	
	/* CUSTOM
	----------------- */
	
}


/* TABLET PORTRAIT MODE CSS - SMALLER TABLETS
----------------------------------------------------------- */

@media screen and (max-width: 750px){

	/* CUSTOM
	----------------- */

	#s5_search_wrap {
		display:none;}
		
	#s5_responsive_mobile_sidebar_login_bottom #modlgn-username, #s5_responsive_mobile_sidebar_login_bottom #modlgn-passwd, #s5_responsive_mobile_sidebar_register_bottom input {
		width:100% !important;
		font-size:12px;}
		
		
	#s5_nav li.s5_logo_spacer {
		display:none !important; }	
		
		
	.s5_scrolltotop {
		top: -19px !important;
		position:relative !important;}			


	#s5_phonenumber {
		float: right;
		margin-right: 9px;}

	#s5_menu_wrap {
		display:block !important;}
	
	#s5_menu_inner, #s5_menu_overlay, #s5_overlay_menu_open {
		display:none;}

	#s5_logo_wrap {
		margin-bottom: 4px;}
		
		
	
}


/* MOBILE LAYOUT CSS
----------------------------------------------------------- */

@media screen and (max-width: 579px){

	/* DEFAULT
	----------------- */

	#s5_right_column_wrap_inner .s5_float_left, #s5_left_column_wrap_inner .s5_float_left {
	float:none;
	}

	#s5_columns_wrap_inner {
	width:100%;
	}

	#s5_center_column_wrap {
	width:100%;
	left:100%;
	}

	#s5_left_column_wrap {
	left:0%;
	}
	
	#s5_left_top_wrap, #s5_left_column_wrap, #s5_left_inset_wrap, #s5_left_wrap, #s5_left_bottom_wrap, #s5_right_top_wrap, #s5_right_column_wrap, #s5_right_inset_wrap, #s5_right_wrap, #s5_right_bottom_wrap, #s5_top_row1 .s5_float_left, #s5_top_row2 .s5_float_left, #s5_top_row3 .s5_float_left, #s5_above_columns_inner .s5_float_left, #s5_middle_top .s5_float_left , #s5_middle_bottom .s5_float_left, #s5_below_columns_inner .s5_float_left, #s5_bottom_row1 .s5_float_left, #s5_bottom_row2, .s5_float_left, #s5_bottom_row3 .s5_float_left, #s5_above_body .s5_float_left, #s5_below_body .s5_float_left {
	width:100% !important;
	}
	
	#s5_center_column_wrap_inner {
	margin:0px !important;
	}
	
	#s5_left_column_wrap {
	margin-right:0px !important;
	}
	
	#s5_right_column_wrap {
	margin-left:0px !important;
	}
	
	.items-row .item {
	width:100% !important;
	padding-left:0px !important;
	padding-right:0px !important;
	margin-right:0px !important;
	margin-left:0px !important;
	}
	
	/* CUSTOM
	----------------- */
	


}


/* CUSTOM SIZES
----------------------------------------------------------- */
@media screen and (max-width: 1530px){
	.inputbox.mailchimp_signup	{
		width: 173px;}
		
}


@media screen and (max-width: 1450px){
	
		.s5_iconwrapper {
		margin-bottom: 25px;
		margin-right: 25px;
		min-width: 85px;
		padding: 20px;}   		
}
	

@media screen and (max-width: 1400px){

	.jdGallery div.carouselContainer {
		bottom: 0% !important;}
	
	.-rightcolumn .s5_tab_show_slide_button_active, .-rightcolumn .s5_tab_show_slide_button_inactive {
		width:100%;
		margin-bottom: 22px !important;
		float:none !important;}

}	




@media screen and (min-width: 1023px){

	#s5_nav li.s5_logo_spacer .s5_logo_module, #s5_nav li.s5_logo_spacer .s5_logo {
		display:block;}
	
	.s5_logo_module, .s5_logo {
		display:none;}
		
}

@media screen and (max-width: 1023px){

	#s5_menu_wrap_top .s5_logo_spacer {
		display:none !important;}

		
	#s5_menu_wrap.s5_wrap_fmfullwidth #s5_nav li {
		margin-top: 0px;}	
		
	#s5_menu_wrap.s5_wrap .s5_logo_module, #s5_menu_wrap.s5_wrap_fmfullwidth .s5_logo_module {
		display:none;}
		
	#s5_nav li.s5_logo_spacer {
		display:none;}
		
	#s5_menu_wrap {
	height: auto;}	
				
	.s5_logo_module, .s5_logo {
		box-sizing: border-box;
		display: table;
		clear:both;
		float: none !important;
		margin: 11px auto -8px;}
		
		.s5_logo_css img {
			float:none;}
		
	#s5_nav li.s5_logo_spacer {
		display:none !important; }		
	
}	





@media screen and (max-width: 1350px){


	.s5_masonry_overlay .item {
		left: auto !important;
		position: relative !important;
		top: auto !important;
		width: 100% !important;}		
		
	.s5_masonry_overlay .s5_masonwrapinner {
		margin-right:0px;}	
	
	.s5_masonry_overlay .firstitem .s5_masonry_articletitle {
		font-size: 1.2em;}				
		
}

@media screen and (max-width: 1280px){

	#s5_pos_custom_4 {
		width: 28%;}	
		
	.jdGallery .slideInfoZone {
        top: 34% !important;
		width: 45% !important;}	

}

@media screen and (max-width: 1260px){

.inputbox.mailchimp_signup {
	width:100%;
	margin-bottom: 25px;}

}


@media screen and (max-width: 1180px){

	#s5_pos_custom_4 {
		width:30%;}
	
	.s5_masonry_overlay .s5_mason_it_wrap  {
		display:none;}
		
	.s5_masonry_overlay .s5_mason_it_wrap.noimage  {
		display:block;}	
			
	
					
}		


@media screen and (max-width: 1100px){

	#s5_component_wrap_inner {
		padding-left:0px !important;
		padding-right:0px !important;}
			
	#s5_center_column_wrap .module_round_box_outer {
		margin-left:0px !important; 
		margin-right:0px !important;}
	

	#s5_bottom_row2_inner {
	text-align:center;	}
	
	.inputbox.mailchimp_signup {
		width:204px;}
		
	
	.inputbox.mailchimp_signup {
	margin-bottom: 8px;}	

	.mailchimp_signup_form {
	text-align:center;}
	
		
		
}




@media screen and (max-width: 975px){

	#s5_bottom_menu_wrap ul.menu li {
		right: auto !important;
		float: none;
		text-align: center;}
	
	#s5_bottom_menu_wrap {
		left: auto !important;
		float:none !important;}	
		
	#s5_bottom_menu_wrap ul.nav {	
		margin-top:30px;
		margin-bottom:20px;}
		
	
	#s5_footer {
		float: none;
		text-align: center;}


}


@media screen and (max-width: 850px){

	.jdGallery div.carouselContainer {
		display:none;}
			
	.s5_inner_padding, #s5_top_header, #s5_pos_custom_4, #s5_below_columns_inner, #s5_bottom_row2_inner, #s5_custom_6 {
		padding-left: 2%;
		padding-right: 2%;}	
		
	.jdGallery .slideInfoZone {
		margin-left: 0% !important;
		margin-right: 0% !important;}	
		
	.jdGallery .slideInfoZone h2, .jdGallery .slideInfoZone p {
		margin-left: 10% !important;
		margin-right: 10% !important;}	
		
		.jdGallery .slideInfoZone {
		width:100% !important;}
		
	.jdGallery .slideInfoZone h2, .jdGallery .slideInfoZone p {
		display:block;
		text-align:center;
		float:none;}

	#s5_pos_custom_4 {
		display:none;}	
		
	.jdGallery .slideInfoZone {
		top: 50% !important;
		transform: translate(0px, -50%) !important;
		-ms-transform:  translate(0px, -50%) !important; /* IE 9 */
		-webkit-transform: translate(0px, -50%) !important;	}	

}

@media screen and (max-width:579px){
	.s5_iconwrapper {
        padding: 22px 0;
        width: 100%;}
				
	ul.s5_masonry_articles {
		text-align: center;
		width:100% !important;}
		
	ul.s5_masonry_articles li {
		float:none;
		margin-bottom: 22px;
		width:100%;}
		
	.s5_masonry_articles li a {
		padding-bottom: 15px !important;
		padding-top: 15px !important;}

	ul.s5_masonry_articles li a {
		border:2px solid transparent !important;}
		
	#s5_above_body, #s5_below_body {
    margin-right: 0;}	
		
}


@media screen and (max-width:385px){

	.jdGallery .slideInfoZone h2 {
	font-size:2.2em !important;
	line-height:44px !important;}


	#s5_pos_custom_3 #myGallery {
		height:700px !important;}

}








